server:
  port: 3001
  servlet:
    context-path: /
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/continue_hub?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:nbcb,111}
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
  jackson:
    serialization:
      indent_output: true
security:
  jwt:
    secret: ${JWT_SECRET:change-me}
    ttlSeconds: ${JWT_TTL_SECONDS:86400}
